@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Inter:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #33ff33;
  --dark-color: #1a1a1a;
  --white-color: #ffffff;
  --blue-color: #4262ff;
  --lime-green: #b6ff1c;
  --dark-blue-gray: #222232;
  --charcoal-gray: #1c1c1c;
  --pure-black: #000000;
  --Size-h1: 48px;
  --Size-paragraph: 18px;
  --line-height: 24px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--pure-black);
}

.logo-text-header {
  color: var(--white-color);
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;

}

.logo-text {
  color: #19E237;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 12px;

}

.upper-nav-bar {
  background-color: #111111;
  flex-wrap: nowrap;
}

.side-bar {
  background-color: var(--pure-black);
  width: 250px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--pure-black);
}

// Inactive Icons
.svg-icon {
  fill: gray; /* Default color for inactive state */
}

// Active Icons
.svg-icon.active {
  fill: green; /* Color for active state */
}

/* MAIN MENU */

.side-bar-text {
  width: 106px;
  height: 23.19px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: #C7C7C7;
}

.side-bar-items {
  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 34px;
  color: #A5A5A5;
}

.side-bar-items.active{
  color: var(--primary-color);
}
.svg-icon-active {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(1.5);
}


@media (max-width: 1199px) {
  .nav-bar {
    width: 300px !important;
  }
  .sidebar{
    transform: translateX(0);
  }

}


.sidebar {
  height: 100%;
  width: 250px;
  background-color: var(--dark-color);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-200%); /* Hide by default */
}

.sidebar.collapsed {
  transform: translateX(0); /* Show when collapsed class is added */
}

.user-data {
  font-size: 12px;
}



